@font-face {
font-family: 'AlegreyaSansSC_Light';
src: url('../fonts/AlegreyaSansSC-Light-webfont.eot');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* HTML5 display-role reset for older browsers END*/


/*-------MENU BAR--------*/
.totop{
	position: absolute;
	z-index: 1;
	right: 0px;
	bottom: 10px;
	background-color: #F05A24;
	padding: 6px 20px;
	position: fixed;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	font-weight: 600;
}

.totop a{
	text-decoration: none;
	color: #fff;
	background-color: 

}

.nav-container { 
  	padding: 20px 0px;
  	text-align: center;
	line-height: 30px;
	float: right;
	position: absolute;
	right: 10px;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	text-align: right;
	z-index: 5;
}

.clearfix{
	content: "";
	clear: both;
}

.menu-top li a {
	color: #fff;
	font-family: 'Alegreya Sans SC', sans-serif;
	letter-spacing: 1px;
	list-style: none;
	text-decoration: none;
	font-size: 18px;
	padding: 0 5px;

 }

.menu-top li {
  display: inline-block;
 }
    
.menu-top li:hover {
  opacity: 0.5;
 }

 .logo{
 	position: absolute;
 	left: 10px;
 	top: 10px;
 }

.logo img{
	width: 150px;
}

.home-section{
	background-image: url("../img/1dubai.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	height: 100vh;
	width: 100%;
	z-index: -1;
}

.hero-heading{
	width: 100%;
	padding: 30px;
	z-index: 1;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 10%;
	font-family: 'Aladin', cursive;
	font-size: 58px;
	letter-spacing: 2px;
}

.hero-heading h2{
	color: #fff;
	opacity: 0.8;
}

/*===============
SECTION-PACKAGE
=================*/

.package-section{
	padding: 80px 0;
}

.package-container img{
	width: 200px;	
}

.package-container, .tour-container{
float: left;
width: 33.33333%;
text-align: center;
height: auto;
}

.clearfix{
	content: "";
	clear: both;
}

.package-container h3, .visa-container h3{
	color: #F05A24;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 28px;
	font-weight: 600;
	letter-spacing: 2px;
}

.package-container p{
	font-family: 'Roboto', sans-serif;
	padding: 20px 100px;
	padding-bottom: 40px;
	line-height: 1.5;
}

.package-container a, .visa-container a{
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	color: #fff;
	background-color: #F05A24;
	padding: 5px 15px; 
}

.package-container a:hover{
background-color: #000;
}

/*===============
SECTION-TOURS
=================*/

.tours-section{
	margin: 0 auto;
	overflow-x: hidden;
	width: 100%;
	text-align: center;
}

.tour-container{
	position: relative;
	padding: 80px 0;
}

.tour-container h3{
	max-width: 418px;
	margin: 0 auto;
	padding: 10px 0;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	font-size: 22px;
	color: #fff;
	bottom:10%;
	z-index: 3;
}

.h3-1{
	background-color: #C0272D;
}

.h3-2{
	background-color: #F05A24;
}

.h3-3{
	background-color: #E5E5E5;
	color: #000 !important;
}

.tour-container p, .visa-container p{
	font-family: 'Roboto', sans-serif;
	padding: 30px 0;
	letter-spacing: 1px;
	font-size: 18px;
	max-width: 418px;
	margin: 0 auto;
	line-height: 1.5;
}

/*===============
SECTION-VISA
=================*/
.visa-section{
	padding: 100px 0;
	background-color: #EFEFEF;
}

.visa-container, .contact-container{
	float: left;
	width: 50%;
}

.visa-container h3{
	color: #000;
	padding-top: 20px;
}

.visa-container a:hover{
	background-color: #000;
}

.clearfix{
	content: "";
	clear: both;
}

/*===============
SECTION-CONTACT
=================*/
.contact-section{
	padding: 80px 0px;
}

.info{
padding-top: 50px;
}

.contact-container input{
	padding: 10px 10px;
	width: 500px;
	margin: 10px;
	border: 1px solid #F05A24; 
	font-size: 18px;
}

.contact-container textarea{
	width: 500px;
	padding: 10px 10px;
	border: 1px solid #F05A24; 
	font-size: 18px;
	color: #757474;
	margin-top: 10px;
	height: 100px;
}

.formBtn{
	padding: 10px 10px;
	background-color: #F05A24 !important;
	font-size: 20px;
	letter-spacing: 1px;
	border: none; 
}

.formBtn:hover{
	background-color: #000 !important;;
	color: #fff;
	border: none; 
}

.contact-container h3 {
	font-family: 'Roboto', sans-serif;
	padding: 10px 0;
	letter-spacing: 2px;
	font-size: 40px;
	line-height: 1.5;
	font-weight: 600;
	text-transform: uppercase;
}

.contact-container p {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	font-size: 18px;
	line-height: 1.5;
}

footer{
	padding: 20px 0;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	font-size: 22px;
	background-color: #595959;
	color: #fff;
}




